<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/views/main.js"></script>
  <title>CapstoneDesign1</title>
  <!-- your custom css -->
  <link rel="stylesheet" href="./css/custom.css">
</head>

<body>
  <!--Header-->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">CapstoneDesign1</a>
  </nav>
  <!--// Header-->


  <section id="download" class="section">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title mb-4">
    	<br>
    		Send coins
    	</h2>
      </header>
      <form id = "sendCoin" action="/tx" method="post">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="wallet">Wallet Address</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Address">
          </div>
          <div class="form-group col-md-4">
            <label for="dataId">Coins</label>
            <input type="text" class="form-control" name="coins" id="coins" placeholder="cost">
          </div>
          <div class="form-group col-md-4">
            <label for="data1Id">DataId</label>
            <input type="text" class="form-control" name="dataId" id="dataId" placeholder="ID">
          </div>
        </div>
        <input type="submit" value="Send" class="btn btn-success">
      </form>
      <br>
  </section>

  <section id="datashop" class="section" style="background-color:#f7f7f7;">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title mb-4">
    	<br>
    		Balance
    	</h2>
      </header>
      <div class="col-lg-12">
        <div class="row">
          <span id="balance" aria-hidden="true">0 Dac</span>

        </div>
      </div>
      <br>
  </section>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  </div>
  <%
  if(pass == 1) {
  %>
    <script type="text/javascript">
      alert("입력값을 확인해주세요")
    </script>
    <%
  } else if (pass == 2){
  %>
    <script type="text/javascript">
      alert("전송 성공!")
    </script>
  <% } %>
</body>

</html>
